{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}


<div class="contenant">
  
  <div class="texte_centrer"><h2> VOIR LE MONDE DE SES YEUX EST MILLE FOIS MIEUX QUE N'IMPORTE QUEL RÊVE</h2><br>
  <h2>RESERVER VOLS + Hotels</h2> </div>
  
</div>
       <div class="container-fluid">
       <div class="jumbotron">
  <h1 class="display-4">Welcome to BESTFLY</h1>
  <p class="lead"></p>

     
<section class="form">
        <div class="container">
 <div class="row">
                <div class="col"></div>
                <div class="col-6">
    {{ form_start(form) }}


                    <div class="mb-3">
                   
                    
                    </div>

                   
                 



        {{ form_rest(form) }}
         </div>
                <div class="col"></div>
            </div>
        </div>
    </section>
    {{ form_end(form) }}



  <hr class="my-4">
  <p></p>
  
</div>
        </div>
   
         
     
<style>
     
.contenant {
  position: relative;
  text-align: center;
  color:red;
  margin-top:130px
}

.texte_centrer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.jumbotron { 
margin-top:250px;
background-color:#696969;
background-size:cover;
Height:60vh;
}

body{
  background-color:#black;
}

h1{
  color:white,
}

h2{
  color:blue;
}
    </style>



    
   
    {% endblock %}