<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Voyage{% endblock %}</title>
        <meta name="viewport"
          content="width=device-width, user-scalable=no,initiual-scale=1.0,maximum-scale=1/0">
     <link rel="stylesheet"href="{{asset('css/bootstrap.min.css')}}">    
    <link rel="stylesheet" href ="{{asset('css/style.css')}}">
    
    </head>

   




    <body>
       
       <header>



     <script src="{{asset('js/bootstrap.bundle.js')}}"></script>
    </body>
</html>
