{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<section>


<div class="container">
       

       {% for item in  Welcome  %}

          

       <div class="row d-flex justify-content-arround">

       <div class="col mt-4">
<div>
          <h3 class="hello">{{item.titre}}</h3>

          </div>

        <div>  
          <h3 class="dear">{{item.soutitre}}</h3>
          </div>

       </div>


       <div class="col">
       <img src="/Welcome/{{item.image}}" class="img-fluif img-Welcome" alt="image">

       </div>


 {% endfor %}   
       </div>


       </section>


{% endblock %}
